@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.header{
  padding: 0rem 1rem 1rem 1rem;
  position: fixed;
  z-index: 99;
  overflow: hidden;
  color: white;
  width: 100%;
}

.home-background img{
  width: 100%;
  height: 100vh;
}

.home-background h1{
  position: absolute;
  top: 13rem;
  left: 22rem;
  font-size: 7rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.home-background h5{
  position: absolute;
  top: 20rem;
  letter-spacing: 1rem;
  left: 18rem;
  font-family: 'Montserrat', sans-serif;
  color: red;
}

.swiper-home{
  width: 50%;
  position: absolute;
  top: 28rem;
  left: 22rem;
}



.swiper-home .swiper-wrapper {
  padding: 0;
  margin: 0;
}

.swiper-home .card{
  height: 10rem;
  width: 20rem;
}

.swiper-home .card img{
  height: 100%;
  width: 100%;
}



.carousel-item img{
  width: 100%;
  height: 100vh;
}

.carousel-caption{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  top: 18rem;
}

.carousel-caption p{
  font-size: 1.5rem;
  text-align: left;
}


.navbars{
  display: flex;
  flex-direction: column;
}

.navbars .menu{
  display: flex;
  justify-content: center;
  margin-left: 3rem;
}

.navbars .logo{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.navbars .logo h1{
  font-size: 3rem;
  font-weight: 1000;
  background-image: linear-gradient(8deg,red 20%,black 40%, rgb(230, 18, 18) 40%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container-form {
  width: 30rem;
  height: 2.5rem;
  position: absolute;
  top: 23rem;
  left: 28rem;
  border: 1px solid rgb(247, 53, 53);
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 90% 10%;
}

.container-form .search{
  background-color: transparent;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-right: none;
  border-left: 1px solid rgb(247, 53, 53);
  border-top: 1px solid rgb(247, 53, 53);
  border-bottom: 1px solid rgb(247, 53, 53);
  color: white;
}

input::placeholder{
  color: white;
  padding: 1rem;
}

.container-form .btn-search{
  background-color: transparent;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-left: none;
  border-right: 1px solid rgb(247, 53, 53);
  border-top: 1px solid rgb(247, 53, 53);
  border-bottom: 1px solid rgb(247, 53, 53);
  color: white;
}

.containerHome{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(170deg,rgb(0, 0, 27)40%,rgb(224, 216, 216));
  padding: 5rem;
  display: flex;
  justify-content: center;
  gap: 10rem;
}

.card-grid{
  width: 95%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  row-gap: 1rem;
  cursor: pointer;
}



.navAtas .navbars .logo h1{
  font-size: 2rem;
}

.navAtas .login{
  width: 5rem;
}
.navAtas .register{
  width: 5rem;
}

.header-listMovie{
  padding: 1rem;
  margin: 1rem 5.5rem 2rem 4rem;
}

.navbars .link-allMovie{
  color: red;
  font-weight: 900;
  text-decoration: none;
}

.login{
  border: 1px solid rgb(247, 53, 53);
  color: white;
  border-radius: 2rem;
  background-color: transparent;
  width: 6.5rem;
  padding: 0.5rem;
  margin-right: 1rem;
}

.register{
  border: 1px solid rgb(247, 53, 53);
  color: white;
  border-radius: 2rem;
  background-color: rgb(247, 53, 53);
  width: 6.5rem;
  padding: 0.5rem;
  margin-right: 1rem;
}

.tombol-trailer{
  border: 1px solid rgb(247, 53, 53);
  color: white;
  border-radius: 1rem;
  background-color: rgb(247, 53, 53);
  width: 11rem;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.tombol-trailer a{
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.picFilm{
  width: 100%;
  height: 100vh;
}

.detail{
  position: absolute;
  top: 6rem;
  left: 8rem;
  color: white;
}

.title-film h1{
  font-size: 5rem;
  font-weight: 500;
}

.movie-genre{
  background-color: transparent;
  border-radius: 1rem;
  border:  1px solid rgb(247, 53, 53);
  padding: 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
  text-align: center;
}

.movie-genre:hover{
  background-color: rgb(75, 68, 68);
  color: white;
}

.movie-genre-container{
  margin-top: 3rem;
  color: rgb(247, 53, 53);
}

.movie-genre-container h4{
  margin-bottom: 1rem;
}

.container-overviewGenre{
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 1rem;
}

.preview-film{
  margin-top: 3rem;
}

.ratingDate-container{
  display: flex;
  gap: 2rem;
  margin-top: 2.5rem;
}

.rating-film{
  display: flex;
  gap: 0.5rem;
}

.release-date{
  display: flex;
  gap: 4rem;
}

.opsion{
  position: absolute;
  top: 26rem;
  left: 34.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  text-align: center;
  color: white;
  text-decoration: none;
}

.opsionTrue{
  position: absolute;
  top: 26rem;
  left: 34.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  text-align: center;
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.opsion a{
  cursor: pointer;
}

.languange{
  width: 3rem;
  height: 1.7rem;
  border: 1px solid white;
  border-radius: 0.2rem;
  text-align: center;
}

.center{
  text-align: center;
}

.cast-background{
  width: 50vw;
  height: 100%;
  position: relative;
  top: -3rem;
  color: white;
  margin-left: 20rem;
  background-color:#02001e;
  text-align: center;
  padding: 1rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.cast-slider {
  width: 70%;
  position: relative;
  text-align: center;
}

.cast-slider .swiper-wrapper{
  margin: 0;
  padding: 0;
}

.fa-star{
  color: rgb(243, 247, 10);
}

.swiper-home .swiper-button-next{
  right: 30px;
  left: auto;
  color:rgb(134, 9, 9);
}

.swiper-home .swiper-button-prev{
  left: 10px;
  right: auto;
  color:rgb(134, 9, 9);
}

.search-header{
  width: 100%;
  height: 50%;
}

.search-header img{
  width: 100%;
  height: 60vh;
}

.tulisan-pojok h1{
  position: absolute;
  top: 3rem;
  background-image: linear-gradient(rgba(230, 230, 230, 0.925), rgb(10, 10, 10));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  writing-mode: vertical-lr;
  font-weight: 800;
  text-orientation: upright;
  text-transform: uppercase;
  text-decoration: underline;
}

.tulisan-pojok-search h1{
  position: absolute;
  top: 4rem;
  background-image: linear-gradient(rgba(230, 230, 230, 0.925), rgb(10, 10, 10) 75%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  writing-mode: vertical-lr;
  font-weight: 700;
  letter-spacing:0.5rem;
  text-orientation: sideways-right;
  text-transform: uppercase;
  text-decoration: underline;
}

.tulisan-pojok-genre h1{
  position: absolute;
  top: 5rem;
  background-image: linear-gradient(rgba(230, 230, 230, 0.925), rgb(10, 10, 10) 75%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  writing-mode: vertical-lr;
  font-weight: 900;
  letter-spacing:1rem;
  text-orientation: sideways-right;
  text-transform: uppercase;
  text-decoration: underline;
}

.tulisan-pojok-img{
  color: white;
  position: absolute;
  top: rem;
  left: 5rem;
}

.tulisan-pojok-img h1{
  font-size: 4rem;
}

.notfound{
  margin-top: 2rem;
  text-align: center;
}

.swiper-wrapper{
  margin-left: 4rem;
  padding: 1rem;
}

.container-category{
  width: 80%;
  position: absolute;
  top: 5rem;
  left: 8rem;
}

.btn-category {
  width: 6rem;
  height: 2rem;
  font-size: small;
  text-align: center;
  background-image:  linear-gradient(160deg,rgb(170, 26, 26) 50%,rgb(197, 185, 185));
  border-radius: 1rem;
  border: 1px solid rgb(247, 53, 53);
  padding: 0.2rem;
  color: white;
}

.logo a{
  text-decoration: none;
}

.modal-body .row{
  gap: 2rem;
}

.modal-body .form-control{
  border-radius: 2rem;
  padding: 1rem;
}

.password-toggle-icon{
  position: absolute;
  top: 7.79rem;
  right: 2.295rem;
  z-index: 1000;
  cursor: pointer;
}

.password-toggle-icon1{
  position: absolute;
  top: 13.4rem;
  right: 2.295rem;
  z-index: 1000;
  cursor: pointer;
}

.password-toggle-icon2{
  position: absolute;
  top: 24.70rem;
  right: 2.295rem;
  z-index: 1000;
  cursor: pointer;
}

.user1{
  position: absolute;
  top: 2rem;
  right: 2.295rem;
  z-index: 800;
  cursor: pointer;
}
.user2{
  position: absolute;
  top: 7.8rem;
  right: 2.295rem;
  z-index: 800;
  cursor: pointer;
}

.mail{
  position: absolute;
  top: 2rem;
  right: 2.295rem;
  z-index: 900;
  cursor: pointer;
}

.mail2{
  position: absolute;
  top: 7.8rem;
  right: 2.295rem;
  z-index: 900;
  cursor: pointer;
}

.submit{
  width: 9rem;
  background-color:  rgb(247, 53, 53);
  border-radius: 1rem;
  border:  1px solid rgb(247, 53, 53);
  padding: 0.5rem;
  box-shadow: rgb(128, 121, 121);
  color: white;
}

.submit:hover{
  background-color: rgb(128, 121, 121);
  border: white;
}

.error{
  position: absolute;
  color:red;
  margin-left: 1rem;
  z-index: 500;
  cursor: pointer;
}

.menu2{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.signout{
  width: 7rem;
  background-color:  rgb(247, 53, 53);
  border-radius: 1rem;
  border:  1px solid rgb(247, 53, 53);
  padding: 0.5rem;
  color: white;
}

.button-form-login{
  display: flex;
  gap: 4rem;
}

.button-form-login .google{
  width: 10rem;
}


.modal3 h1{
  text-align: center;
}

.cast-movie img{
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
}


@media screen and (max-width: 476px){
  .App{
    width: 100%;
  }

  .header{
    width: 100%;
  }

  .navbars{
    margin: 0;
  }

  .navbars .menu{
    margin-left: 2rem;
  }

  .home-background img{
    width: 100%;
    height: 100vh;
  }
  
  .home-background h1{
    position: absolute;
    top: 14rem;
    right: 1rem;
    left: 1rem;
    font-size: 3rem;
    text-align: center;
  }
  
  .home-background h5{
    position: absolute;
    top: 17rem;
    letter-spacing: 0.2rem;
    left: 1rem;
    right: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: red;
    text-align: center;
  }
  

  .container-form {
    width: 21rem;
    height: 3rem;
    position: absolute;
    top: 20rem;
    left: 4.5rem;
    right: 3rem;
    border: 1px solid rgb(247, 53, 53);
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 85% 15%;
  }

  .opsion{
    top: 24rem;
    left: 6.5rem;
  }

  .swiper-home{
    width: 100%;
    position: absolute;
    top: 25rem;
    left: 0rem;
    right: 3rem;
    padding: 1.5rem;
  }
  
  .swiper-home .swiper-wrapper{
    padding: 0;
  }
  
  .swiper-home .card{
    height: 100%;
    width: 100%;
  }
  
  .swiper-home .card img{
    height: 100%;
    width: 100%;
  }

  .detail-film{
    width: 100%;
  }

  .title-film h1{
    font-size: 4rem;
    text-align: center;
  }

  .ratingDate-container{
    justify-content: space-around;
    align-items: center;
  }

  .release-date {
    gap: 1rem;
  }
  
  .detail-film .tombol-trailer{
    margin-left: 2rem;
  }

  .container-overviewGenre{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 2rem;
    margin-top: -1rem;
  }

  .movie-genre-container .gen{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
  }

  .cast-background{
    width: 100%;
    margin-left: 0;
    top: -2rem;
  }

  .detail{
    left: 0;
    top: 4rem;
  }

  .cast-slider{
    width: 100%;
  }

  .swiper-home .swiper-button-next{
    right: 10px;
    left: auto;
    color: white;
  }
}

@media screen and (max-width: 425px){
  .container-form {
    left: 3.5rem;
  }
  .opsion{
    left: 5rem;
  }
}

@media screen and (max-width: 375px){
  .home-background h1{
    left: 1rem;
    right: 1rem;
    font-size: 3rem;
    text-align: center;
  }
  
  .home-background h5{
    left: 1rem;
    right: 1.5rem;
    font-size: 1rem;
    text-align: center;
    top: 17rem;
  }
  .container-form{
    left: 2.5rem;
    right: 1rem;
    width: 19rem;
  }

  .opsion{
    left: 3.5rem;
  }

  .cast-background{
    top: -1rem;
  }

  .detail-film .tombol-trailer{
    margin-left: 1rem;
  }

  .container-overviewGenre{
    margin-left: 1rem;
    margin-top: -2rem;
  }
}

@media screen and (max-width: 320px){
  .home-background h1{
    left: 2.5rem;
    right: 2rem;
    font-size: 2.4rem;
    text-align: center;
  }
  
  .home-background h5{
    text-align: center;
    left: 0.5rem;
    right: 0.5rem;
    font-size: 0.8rem;
    top: 16rem;
  }
  .container-form{
    left: 1rem;
    width: 18rem;
  }

  .opsion{
    top: 24rem;
    left: 1.5rem;
  }

  .container-overviewGenre{
    margin-top: -1rem;
    margin-left:0.5rem;
    gap: 0;
  }

  .ratingDate-container{
    margin-top: 1rem;
  }

  .detail .title-film h1{
    font-size: 2rem;
  }

  .detail-film .tombol-trailer{
    margin-top: 1rem;
    margin-left: 4rem;
  }

  .movie-genre-container .gen{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
  }
}